.data-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 150%;
  padding: 20px;
}

.data-table {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
}

.data-table-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.data-table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
 
  border-bottom: 1px solid #ddd;
}

.data-table-row span {
  flex: 1;
  text-align: left;
}

.data-table-row:hover {
  background-color: lightgray;
}

.pdf-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.pdf-button:hover {
  background-color: #0056b3;
}
