
h1 {
  margin-top: 100px;
}

.profile-container {
    text-align: center;
    padding: 20px;
  }
  
  .profile-logo {
    width: 100px;  /* Juster størrelsen på logoen */
    height: 100px;
    margin-bottom: 10px;  /* Litt avstand mellom logo og profilinformasjon */
    margin-top: 50px;
  }
  
  