body {
  display: flex;
  flex-direction: column; /* Plassere innholdet vertikalt */
  align-items: center; /* Senter innholdet horisontalt */
  justify-content: flex-start; /* Plassere innholdet øverst */
  min-height: 100vh; /* Sørge for at body tar opp hele høyden */
  margin: 0; /* Fjerne standard margin */
  background-color: lightcyan; 

}

h1 {
  margin-top: 80px;
  color: black;
  font-size: 40px;
  
}

.vehicle-details-container {
  display: flex;
  flex-direction: column; /* Plassere innholdet vertikalt */
  align-items: center; /* Senter innholdet horisontalt */
  width: 100%; /* Ta opp hele bredden */
  max-width: 800px; /* Sett en maksimal bredde for containeren */
  padding: 20px; /* Liten padding rundt containeren */
  
}

.vehicle-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-height: 400px; /* Sett en maksimal høyde */
  overflow-y: auto; /* Aktiver vertikal rulling */
  background-color: white; 
}

.vehicle-list-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.vehicle-list-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.vehicle-list-row span {
  flex: 1;
  text-align: left;
}

.vehicle-list-row:hover {
  background-color: lightgray;  /* Bakgrunnsfarge ved hover */
}

.add-vehicle-link {
  margin-top: 20px; /* Marg til knappen for å legge til kjøretøy */
  text-align: center;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  
}

.add-vehicle-link:hover {
  background-color: #0056b3;
}


